
[mmi]
autocases = 
disable   = 
misc_path = /dev/block/platform/msm_sdcc.3/by-num/p11

[button]
KEY_VOLUMEUP = 115
KEY_VOLUMEDOWN = 114
KEY_POWER = 116
KEY_MENU = 139
#MTK平台KEY_HOMEPAGE表示HOME键，大部分平台以KEY_HOME表示HOME键
KEY_HOME = 102
KEY_HOMEPAGE = 172
KEY_BACK = 158
KEY_SEARCH = 217
KEY_MEDIA = 226

[sdcard]
intsd_path=/dev/block/mmcblk0p10
extsd_path=/dev/block/mmcblk1p1

[gsensor]
address = 0x0E

[msensor]
address = 0x2E

[psensor]
address = 0x1E

[lsensor]
address = 0x1E

name = light

[Gyroscope]
address = 0x68

[brightness]
brightness_node = /sys/devices/platform/leds-mt65xx/leds/lcd-backlight/brightness
btn_node = /sys/devices/platform/leds-mt65xx/leds/button-backlight/brightness

[flashlight]
flashlight_node = /sys/class/leds/flashlight/brightness
